streamlit==1.36.0
pandas==2.2.2
numpy==1.26.4
requests==2.32.3
plotly==5.22.0
vaderSentiment==3.3.2
streamlit-autorefresh==1.0.1
ccxt==4.3.5
xgboost==2.0.3
scikit-learn==1.4.2
joblib==1.4.2
bcrypt==4.1.2
python-dotenv==1.0.1
